
<div class="container mt-3">
    <h2>Web-приложение для управления списком продуктов</h2>

    <div class="mt-4">
        <p>Среда разработки Microsoft Visual Studio, язык - C#, база данных - Microsoft SQL Server, framework - ASP.NET Core MVC.</p>
    </div>

    <div class="mt-4">
        <p>Продукт содержит следующие поля: id, название, описание, цена. Информацию о продуктах хранить в базе данных с помощью Entity Framework.</p>
    </div>

    <div class="mt-4">
        <p>Раздел для управления продуктами. Доступ к разделу разрешать только авторизованному пользователю, логин и пароль которого прописан в конфигурационном файле.</p>
        <ul class="list-group">
            <li class="list-group-item">Для авторизации создать страницу логина.</li>
            <li class="list-group-item">Страница со списком продуктов. В списке выводить id, название, цену и ссылку на страницу редактирования. Перед списком добавить ссылку для создания нового продукта.</li>
            <li class="list-group-item">Страница создания / редактирования продукта.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p>API для получения продуктов. Формат данных - JSON. API должно быть доступно анонимному пользователю (авторизация не нужна).</p>
        <ul class="list-group ">
            <li class="list-group-item">Метод получения списка продуктов c опциональной возможностью фильтрации по названию и интервалу цен. Метод должен возвращать краткую информацию о продуктах (id, название, цена).</li>
            <li class="list-group-item">Метод получения подробной информации о продукте (все поля), принимающий id продукта.</li>
        </ul>
    </div>
</div>
